body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
    transition: background 0.3s, color 0.3s;
}

body.dark-theme {
    background: #2c2c2c;
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme header {
    background: #444;
}

.logo {
    height: 180px;
    width: auto;
}

.header-text {
    flex-grow: 1;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

p {
    font-size: 1.3rem;
    font-style: italic;
}

.kanban-title {
    font-size: 2rem;
    font-weight: bold;
    margin-top: 10px;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
}

.kanban-container {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.column {
    width: 30%;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

body.dark-theme .column {
    background: #555;
}

.task-list {
    min-height: 100px;
    padding: 10px;
    background: #f9f9f9;
}

body.dark-theme .task-list {
    background: #666;
}

.task {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: grab;
}

.priority-high { background: #ff6b6b; }
.priority-medium { background: #feca57; }
.priority-low { background: #1dd1a1; }

#todo .task { background: red; }
#inprogress .task { background: yellow; color:black}
#done .task { background: green; }

#progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
    height: 20px;
    position: relative;
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    transition: width 0.5s ease-in-out;
}


.bottom-controls {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
